/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.



/*****************************************************************************
* Work 
*****************************************************************************/

// Work

.work {
  a {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

 .role_summary {
    font-weight: lighter;
 }
 .job_title {
    font-weight: bolder;
    font-size: larger;
 }
 .time_frame {
    font-size: smaller;
 }

  .card {
    img {
      width: 100%;
    }
    .card-title {
      color: $black-color;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    color: $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}

